{% extends 'layout.njk' %}
{% block searchField %}
    {%include './partials/search.njk'%}
{% endblock searchField %}

{% block title %}
        <title>Receitas</title>
        {% endblock title %}

{% block content %}
    <main>
       {%include './partials/recipeCards.njk'%}
    </main>
{% endblock content %}



