{% extends "layoutAdmin.njk" %}

{% block content %}
                <div class="recipe">
                    <div class="subHeader">
                        <h3>Cadastrando chef</h3>
                        
                        <button type="submit" form="createChef">Salvar chef</button>
                    </div>
                </div>
                <form action="/admin/chefs" id="createChef" method="post">
                <div class="chefFields">
                    <div class="item">
                        <h3>Nome</h3>
                        <input type="text" name="name" placeholder="Nome completo">
                    </div>
                    <div class="item">
                        <h3>Avatar</h3>
                        <input type="text" name="avatar_url" placeholder="http://... ">
                    </div>
                </div>
{% endblock content %}

