{% extends "layoutAdmin.njk" %}

{% block content %}
    <div class="recipe">
        <div class="subHeader">
            <h3>Cadastrando chef</h3>
            <button type="submit" form="createChef">Salvar chef</button>
        </div>
    </div>
    <form action="/admin/chefs" id="createChef" method="post" enctype='multipart/form-data'>
        <div class="fields">

            {%include './partials/fields.njk'%}

        </div>
    </form>
{% endblock content %}
{% block script%}
<script src="/photoUpload.js"></script>
{%endblock script%}

