{% extends "layoutAdmin.njk" %}

{% block content %}
    <div class="recipe">
        <div class="subHeader">
            <h3>Editando chef</h3>
            <div class="buttonsEdit">
                <button type="submit" form="deleteChef">Deletar</button>
                <button type="submit" form="editChef">Salvar chef</button>
            </div>
        </div>
    </div>
    <form action="/admin/chefs?_method=PUT" id="editChef" method="post">
        <div class="chefFields">

            {%include './partials/fields.njk'%}
            
        </div>
        <input type="hidden" name="chefId" value="{{chefId}}">
    </form>
    <form action="/admin/chefs?_method=DELETE" id="deleteChef" method="post">
        <input type="hidden" name="chefId" value="{{chefId}}">
        <input type="hidden" name="total_recipes" value="{{recipe.total_recipes}}">
    </form>
</div>

{% endblock content %}

{% block script %}
<script>
    const formDelete = document.querySelector("#deleteChef")
    formDelete.addEventListener("submit", event => {
        const confirmation = confirm("Deseja deletar?")
        if (!confirmation) {
            event.preventDefault()
        }
    })
</script>
{% endblock script %}