{% extends "layoutAdmin.njk" %}

{% block styles %}
    <link rel="stylesheet" href="/styles/pages/admin/users/users.css">
{% endblock styles %}

{% block content %}
    <div class="profile">
        <div class="subHeader">
            <h3>Criar Usuário</h3>
            <div class="buttonsEdit">
                <button type="submit" form="deleteChef">Deletar</button>
                <button type="submit" form="editChef">Salvar chef</button>
            </div>     
        </div>
    </div>
    <form action="/admin/profile?_method=PUT" id="editProfile" method="post">
        <div class="fields profile">

            <div class="item">
                <h3>Nome</h3>
                <input type="text" name="name" placeholder="Nome completo" value="{{user.name}}">
            </div>
            <div class="item">
                <h3>Email</h3>
                <input type="text" name="email" placeholder="email@email.com" value="{{user.email}}">
            </div>
            <div class="item">
                <input type="checkbox" value="isAdmin" name="isAdmin" checked>
                <label for="isAdmin">Administrador</label>
            </div>
            
        </div>
        <input type="hidden" name="profileId" value="{{profileId}}">
    </form>

</div>

{% endblock content %}

{% block script %}
{% endblock script %}