{% extends "layoutAdmin.njk" %}

{% block styles %}
    <link rel="stylesheet" href="/styles/pages/admin/users/users.css">
{% endblock styles %}

{% block content %}
    <div class="profile">
        <div class="subHeader">
            <h3>Criar Usuário</h3>
            <div class="buttons">
                <button type="submit" form="createUser">Salvar</button>
                <a href="/admin/users"><button type="button">Cancelar</button></a>
            </div>     
        </div>
    </div>
    <form action="/admin/userAdmin" id="createUser" method="post">
        <div class="fields profile">

            <div class="item">
                <h3>Nome</h3>
                <input type="text" name="name" placeholder="Nome completo" value="{{user.name}}">
            </div>
            <div class="item">
                <h3>Email</h3>
                <input type="text" 
                name="email" 
                placeholder="email@email.com" 
                value="{{user.email}}"
                onblur="Validate.apply(this, 'isEmail')"
                onfocus="Validate.clearError(this)">
            </div>
            <div class="item">
                <input type="checkbox" value="is_admin" name="is_admin">
                <label for="is_Admin">Administrador</label>
            </div>
            
        </div>
    </form>

</div>

{% endblock content %}

{% block script %}
    <script src="/scripts/validateFields.js"></script>
{% endblock script %}