{% extends "layoutAdmin.njk" %}

{% block styles %}
    <link rel="stylesheet" href="/styles/pages/admin/users/users.css">
{% endblock styles %}

{% block content %}
    <div class="profile">
        <div class="subHeader">
            <h3>Bem vindo {{user.name}}</h3>
            <button type="submit" form="editProfile">Salvar</button>
        </div>
    </div>
    <form action="/admin/user?_method=PUT" id="editProfile" method="post">
        <div class="fields profile">

            <div class="item">
                <h3>Nome</h3>
                <input type="text" name="name" placeholder="Nome completo" value="{{user.name}}">
            </div>
            <div class="item">
                <h3>Email</h3>
                <input type="text" 
                name="email" 
                placeholder="email@email.com" 
                value="{{user.email}}"
                onblur="Validate.apply(this, 'isEmail')"
                onfocus="Validate.clearError(this)">
            </div>
            <div class="item">
                <h3>Senha</h3>
                <input type="text" name="password" placeholder="Digite a senha">
            </div>
            
        </div>
        <input type="hidden" name="id" value="{{user.id}}">
    </form>

</div>

{% endblock content %}

{% block script %}
    <script src="/scripts/validateFields.js"></script>
{% endblock script %}