{% extends "layoutAdmin.njk" %}

{% block styles %}
    <link rel="stylesheet" href="/styles/pages/admin/users/users.css">
{% endblock styles %}


{% block title %}
        <title>Gereciar chefs</title>
        {% endblock title %}

{% block content %}
    <main class="list">
        <div class="subHeader">
            <h2 id="manage-users">Usuários</h2>
            <div class="buttons">
                    <button type="button" onclick="location.href='/admin/userAdmin/create'">Novo</button>
            </div>     
        </div>
        <div class="cards admin">
            {% for user in users %}
                <div class="card admin-index">
                    <div class="index-details">
                        <div class="user-name">
                            <p>{{user.name}}</p>
                        </div>
                        <div class="email">
                            <p>{{user.email}}</p>
                        </div>
                        <div class="links">
                            <a class="link-button" href="/admin/userAdmin/{{user.id}}/edit">Editar</a>
                            <a class="link-button" href="/admin/userAdmin/{{user.id}}/edit">Remover</a>
                        </div>
                    </div> 
                    <input type="hidden" id="recipeId" name="recipeId" value="{{recipe.id}}">
                </div>
            {% endfor %}
        </div>
    </main>
{% endblock content %}



