{% extends "layoutAdmin.njk" %}

{% block styles %}
    <link rel="stylesheet" href="/styles/pages/admin/users/users.css">
{% endblock styles %}


{% block title %}
        <title>Gereciar chefs</title>
        {% endblock title %}

{% block content %}
    <main>
        <h2 id="manage-users">Usuários</h2>
        <div class="cards admin">
            
            <div class="card admin-index">
                <div class="index-details">
                    <div class="user-name">
                        <p>User Name</p>
                    </div>
                    <div class="email">
                        <p>email@email.com</p>
                    </div>
                    <div class="links">
                        <a class="link-button" href="/admin/users/userAdmin/{{user.id}}/edit">Editar</a>
                        <a class="link-button" href="/admin/users/userAdmin/{{user.id}}/edit">Remover</a>
                    </div>
                </div> 
                <input type="hidden" id="recipeId" name="recipeId" value="{{recipe.id}}">
            </div>
            <div class="card admin-index">
                <div class="index-details">
                    <div class="user-name">
                        <p>User Name</p>
                    </div>
                    <div class="email">
                        <p>email@email.com</p>
                    </div>
                    <div class="links">
                        <a class="link-button" href="/admin/recipes/{{recipe.id}}">Editar</a>
                        <a class="link-button" href="/admin/recipes/{{recipe.id}}">Remover</a>
                    </div>
                </div> 
                <input type="hidden" id="recipeId" name="recipeId" value="{{recipe.id}}">
            </div>
            <div class="card admin-index">
                <div class="index-details">
                    <div class="user-name">
                        <p>User Name</p>
                    </div>
                    <div class="email">
                        <p>email@email.com</p>
                    </div>
                    <div class="links">
                        <a class="link-button" href="/admin/recipes/{{recipe.id}}">Editar</a>
                        <a class="link-button" href="/admin/recipes/{{recipe.id}}">Remover</a>
                    </div>
                </div> 
                <input type="hidden" id="recipeId" name="recipeId" value="{{recipe.id}}">
            </div>
            <div class="card admin-index">
                <div class="index-details">
                    <div class="user-name">
                        <p>User Name</p>
                    </div>
                    <div class="email">
                        <p>email@email.com</p>
                    </div>
                    <div class="links">
                        <a class="link-button" href="/admin/recipes/{{recipe.id}}">Editar</a>
                        <a class="link-button" href="/admin/recipes/{{recipe.id}}">Remover</a>
                    </div>
                </div> 
                <input type="hidden" id="recipeId" name="recipeId" value="{{recipe.id}}">
            </div>
            <div class="card admin-index">
                <div class="index-details">
                    <div class="user-name">
                        <p>User Name</p>
                    </div>
                    <div class="email">
                        <p>email@email.com</p>
                    </div>
                    <div class="links">
                        <a class="link-button" href="/admin/recipes/{{recipe.id}}">Editar</a>
                        <a class="link-button" href="/admin/recipes/{{recipe.id}}">Remover</a>
                    </div>
                </div> 
                <input type="hidden" id="recipeId" name="recipeId" value="{{recipe.id}}">
            </div>
            <div class="card admin-index">
                <div class="index-details">
                    <div class="user-name">
                        <p>User Name</p>
                    </div>
                    <div class="email">
                        <p>email@email.com</p>
                    </div>
                    <div class="links">
                        <a class="link-button" href="/admin/recipes/{{recipe.id}}">Editar</a>
                        <a class="link-button" href="/admin/recipes/{{recipe.id}}">Remover</a>
                    </div>
                </div> 
                <input type="hidden" id="recipeId" name="recipeId" value="{{recipe.id}}">
            </div>
            <div class="card admin-index">
                <div class="index-details">
                    <div class="user-name">
                        <p>User Name</p>
                    </div>
                    <div class="email">
                        <p>email@email.com</p>
                    </div>
                    <div class="links">
                        <a class="link-button" href="/admin/recipes/{{recipe.id}}">Editar</a>
                        <a class="link-button" href="/admin/recipes/{{recipe.id}}">Remover</a>
                    </div>
                </div> 
                <input type="hidden" id="recipeId" name="recipeId" value="{{recipe.id}}">
            </div>
            
        </div>
    </main>
{% endblock content %}



