:root {
    --pink: #fbdfdb;
}

* {
    padding:0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: #111111;
    
}
html,body {
    height: 100%;
}

.container {
    position: relative;
    top: 1rem;
    width: 75%;
    margin: 0 auto;
    min-height: 100%;
    max-width: 940px;
   
    
}

header {
    display: flex;
    align-items: center;

}

header nav {
    margin-left: 10rem;
    display: flex;
}
header nav a {
    text-decoration: none;
    color: black;
    padding: 2rem;
}

.description {
    background-color: var(--pink);
    border-radius: 30px;
    width: 100%;
    height: 366px;
    display: flex;
    align-items: center;
    padding: 60px;  
    position: relative;
}

.text {
    max-width: 316px;
}
.text h1 {
    margin-bottom: 10px;
}
.text p{
    line-height: 28px;
}

.description img {
    position: absolute;
    margin-left: 60%;
    bottom: 0;
}

.favorites h3{
    margin-top: 50px;
}

.cards {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    
}

.image-container{
    max-width: 300px;
}
.image-container img {
    width: 100%;
    border-radius: 15px;
}

.recipe_name {
    margin-top: 20px;
    margin-bottom: 5px;
}

.recipe_name h4 {
    font-size: 18px;
}
.author  p{
    font-size: 14px;
    color: #777777;
}


/* FOOTER **=================*/

footer {
    width:100%;
    height: 62px;
    margin-top: 50px;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color:#EEEEEE;
}

footer p{
    font-size: 14px;
    color: #999999;;
}

/* ABOUT =====================*/
article {
    margin-bottom: 30px;
}

article h1{
    font-size: 24px;
    margin-top: 1rem;
}

article h2 {
    font-size: 20px;
}

article p {
    font: 18px;
    color: #444444;
    margin-top: 20px;
    line-height: 28px;
}