{% extends 'layout.njk' %}

{% block content %}
    <main>
        <section class="description">
            <div class="text">
                <h1>As melhores receitas</h1>
                <p>Aprenda a construir os melhores pratos com receitas criadas por profissionais do mundo inteiro.</p>
            </div>
            <img src="/assets/Chef.png" alt="Chef">
        </section>
        <section class="favorites">
            <h3>Mais acessadas</h3>
            <div class="cards">
                <div class="card">
                    <div class="image-container">
                        <img src="/assets/burger.png" alt="Triplo Burger Bacon">
                    </div>
                    <div class="recipe-name">
                        <h4>Triplo Burger Bacon</h4>
                    </div>
                    <div class="author">
                        <p>por Jorge Relato</p>
                    </div>
                </div>
                <div class="card">
                    <div class="image-container">
                        <img src="/assets/pizza.png" alt="Pizza 4 estações">
                    </div>
                    <div class="recipe-name">
                        <h4>Pizza 4 estações</h4>
                    </div>
                    <div class="author">
                        <p>por Fabiana Melo</p>
                    </div>
                </div>
                <div class="card">
                    <div class="image-container">
                        <img src="/assets/espaguete.png" alt="Espaguete ao alho">
                    </div>
                    <div class="recipe-name">
                        <h4>Espaguete ao alho</h4>
                    </div>
                    <div class="author">
                        <p>por Júlia Kinoto</p>
                    </div>
                </div>
                <div class="card">
                    <div class="image-container">
                        <img src="/assets/lasanha.png" alt="Lasanha mac n'cheese">
                    </div>
                    <div class="recipe-name">
                        <h4>Lasanha mac n'cheese</h4>
                    </div>
                    <div class="author">
                        <p>por Juliana Vieira</p>
                    </div>
                </div>
                <div class="card">
                    <div class="image-container">
                        <img src="/assets/doce.png" alt="Docinhos pão-do-céu">
                    </div>
                    <div class="recipe-name">
                        <h4>Docinhos pão-do-céu</h4>
                    </div>
                    <div class="author">
                        <p>por Ricardo Golvea</p>
                    </div>
                </div>
                <div class="card">
                    <div class="image-container">
                        <img src="/assets/asinhas.png" alt="Asinhas de frango ao barbecue">
                    </div>
                    <div class="recipe-name">
                        <h4>Asinhas de frango ao barbecue</h4>
                    </div>
                    <div class="author">
                        <p>por Vania Steroski</p>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock content %}

</div>
<footer>
<p>Todos direitos reservados, receitas Foodfy.</p>
</footer>

{% block modal %}
<div class="modal-overlay">
    <div class="modal">

        <div class="modal-content">
            <!-- <div class="image-container"> <img src="./assets/asinhas.png" alt="asinhas"> </div> <div class="recipe-name"> <h4>Asinhas de frango ao barbecue</h4> </div> <div class="author"> <p>por Vania Steroski</p> </div> -->
        </div>
        <div class="close-modal">
            <p>Fechar modal</p>
        </div>
    </div>
</div>
{% endblock modal %}

<script src="/scripts.js"></script>
</body>

</html>