.cards.admin {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    cursor: pointer;
}
.card.admin-index {
    display: flex;
    align-items: center;
    justify-items: center;
}

.image-container.admin{
    max-width: 172px;
    height: 80px;
    border-radius: 8.75px;
}
.image-container.admin img {
    width: 100%;
    height: 80px;
    border-radius: 8.75px;
    object-fit:cover
}
.card.admin-index .index-details {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    justify-content: flex-start;
    height: 100%;
    
}
.index-details .recipe-name {
    margin-top: 0;
    margin-bottom: 5px;
}
.index-details .author  p{
    margin-bottom: 10px;
}
.link-button {
    text-decoration: none;
    color: #6558c3;
    font-size: 14px;
    font-weight: bold;
    outline: none;
    border: none;
    background: none;
    cursor: pointer;
}

@media  (max-width: 500px){
    .cards.admin{
        gap: 10px;
    }
    .card.admin-index{
        flex-direction: column;
        align-items: flex-start;
    }
    .card.admin-index .index-details{
        margin: 0;
    }
    .index-details .author p, .index-details .author{
        height: 3rem;
        text-overflow: ellipsis;
    }
}