:root {
    --pink: #fbdfdb;
}

* {
    padding:0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: #111111;
    
}
html,body {
    height: 100%;
}

.container {
    position: relative;
    top: 1rem;
    width: 75%;
    margin: 0 auto;
    min-height: 100%;
    max-width: 940px;
   
    
}

header {
    /* display: flex; */
    display: grid;
    grid-template-columns: 30% 1fr;
    align-items: center;

}

header nav {
    /* margin-left: 10rem; */
    display: flex;
}
header nav a {
    text-decoration: none;
    color: black;
    padding: 2rem;
}

.description {
    background-color: var(--pink);
    border-radius: 30px;
    width: 100%;
    height: 366px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
    /* display: flex; */
    /* padding:0 60px;   */
    position: relative;
}

.text {
    max-width: 316px;
    padding-left: 5px;
}
.text h1 {
    margin-bottom: 10px;
}
.text p{
    line-height: 28px;
    opacity: 70%;
}

.description img {
    /* position: absolute;
    margin-left: 60%;
    bottom: 0; */
    align-self: flex-end;
}

.favorites h3{
    margin-top: 50px;
}

.cards {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    cursor: pointer;
}

.image-container{
    max-width: 300px;
}
.image-container img {
    width: 100%;
    border-radius: 15px;
    object-fit: cover;
}

.recipe-name {
    margin-top: 20px;
    margin-bottom: 5px;
}

.recipe-name h4 {
    font-size: 18px;
}
.author  p{
    font-size: 14px;
    color: #777777;
}


/* FOOTER **=================*/

footer {
    /* width:100%; */
    height: 62px;
    margin-top: 50px;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color:#EEEEEE;
}

footer p{
    font-size: 14px;
    color: #999999;;
}

/* ABOUT =====================*/
article {
    margin-bottom: 30px;
}

article h1{
    font-size: 24px;
    margin-top: 1rem;
}

article h2 {
    font-size: 20px;
}

article p {
    font: 18px;
    color: #444444;
    margin-top: 20px;
    line-height: 28px;
}

/* MODAL ===================*/

.modal-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;

    background: rgba(0, 0, 0, 0.6);
    

    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;

    visibility: hidden;
    opacity: 0;
}

.modal-overlay.active{
    visibility: visible;
    opacity: 1;
}

.modal {
    width: 660px;
    max-width: 90%;
    background-color: white;
    border-radius: 16px;

    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

}

.modal .image-container {
    display: block;
    max-width: 600px;
    margin: 30px 0px 0px 0px;
    max-height: 200px;
}
.modal .image-container img {
    max-height: 200px;
}

.modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;

}
.modal-content .recipe-name h4 {
    font-size: 24px;
}
.modal-content .author  p{
    font-size: 18px;
}

.close-modal {
   margin: 60px 0 30px 0;
   cursor: pointer;
}


/* ========== RECIPE ====== */
.recipe {
    margin-top: 56px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.recipe .image-container{
    max-width: 940px;
}
.recipe .image-container img {
    width: 100%;
    border-radius: 15px;
    object-fit: cover;
}

.recipe .recipe-name {
    margin-top: 50px;
    margin-bottom: 5px;
}

.recipe .recipe-name h4 {
    font-size: 36px;
}
.recipe .author  p{
    font-size: 20px;
    color: #777777;
}

.recipeInformation {
    margin-top: 50px;
    font-size: 18px;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 50px;

    line-height: 28px;
}

.recipeInformation h3 {
    font-size: 24px;
    margin-bottom: 20px;
}

.recipeInformation ul {
    padding-left: 20px;
}

.recipeInformation span {
    font-size: 12px;
    color: #999;
    cursor: pointer;
}


/* ============= ADMIN =========== */


/* INDEX */

header.admin-header {
    width: 100%;
    background: #111111;
    height: 5rem;
}
.container-header {
    top: 1.5rem;
    width: 75%;
    margin: 0 auto;
    min-height: 100%;
    max-width: 940px;
    display: flex;
    align-items: center;
}

#manage-recipes {
    margin-top: 3rem;
    font-size: 1,5rem;
}
.cards.admin {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    cursor: pointer;
}
.card.admin-index {
    display: flex;
    align-items: center;
    justify-items: center;
}

.image-container.admin{
    max-width: 172px;
    height: 80px;
    border-radius: 8.75px;
}
.image-container.admin img {
    width: 100%;
    height: 80px;
    border-radius: 8.75px;
    object-fit: cover
}
.card.admin-index .index-details {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    justify-content: flex-start;
    height: 100%;
    
}
.index-details .recipe-name {
    margin-top: 0;
    margin-bottom: 5px;
}
.index-details .author  p{
    margin-bottom: 10px;
}
.link-button {
    text-decoration: none;
    color: #6558c3;
    font-size: 14px;
    font-weight: bold;
    outline: none;
    border: none;
    background: none;
    cursor: pointer;
}

/* SHOW */

.recipe .subHeader {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 1.5rem;
    font-size: 24px;
}

.recipe .subHeader button{
    padding: 8px 20px;
    background-color: #6558c3;
    color: white;
    font-size: 16px;
    border-radius: 4px;
    border: none;
    font-weight: bold;
}

/* CREATE */
.recipeFields {
    margin-top: 10px;
    font-size: 18px;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 30px;

    line-height: 28px;
}

.recipeFields h3 {
    font-size: 16px;
    margin-bottom: 10px;
    line-height: 19px;
}

.recipeFields ul {
    padding-left: 20px;
}
.recipeFields input, .recipeFields textarea {
    width: 100%;
    height: 49px;
    border: 1px solid #dddddd;
    outline: none;
    padding: 0px 10px;
    border-radius: 4px;
}
.recipeFields textarea {
    height: 257px;
}


/* RESPONSIVE ====================== */

@media (min-width: 750px) {
    header {
        display: flex;
        /* display: grid; */
        /* grid-template-columns: 30% 1fr; */
        align-items: center;
    
    }
    
    header nav {
        margin-left: 8rem;
        display: flex;
    }
    
}
@media (max-width: 750px) {

.modal .image-container {
    
    margin: 20px 20px 0px 20px;
}
}