<div class="item">
    <h3>Nome</h3>
    <input type="text" name="name" placeholder="Nome completo" value="{{chef.name}}">
</div>
<div class="item">
    <h3>Avatar</h3>
    {# <input type="text" name="avatar_url" placeholder="http://... " value="{{chef.avatar_url}}"> #}
    
    <div class="photos-upload">
        <div class="photo" id="uploadPhotoChef">
            <input type="file" 
                name="avatar" 
                id="avatar"
                accept="image/"
                onchange="PhotosUpload.handleFileInput(event)">
            <button type="button">Enviar Avatar</button>
        </div>
    </div>
</div>