<div class="item">
    <h3>Nome</h3>
    <input type="text" name="name" placeholder="Nome completo" value="{{chef.name}}">
</div>
<div class="item">
    <h3>Avatar</h3>
    <div class="photos-upload chefUpload">
        <div class="photo" id="uploadPhotoChef">
            <input type="file" 
                name="avatar" 
                id="avatar"
                accept="image/"
                onchange="PhotosUpload.handleFileInput(event)">
            <button type="button">Enviar Avatar</button>
        </div>
        <div class="photos-preview">
            {% if file %}
                <div class="photo" id="{{file.id}}">
                    <img src="{{file.src}}" alt="{{chef.name}}">
                    <i class="material-icons" onclick="PhotosUpload.removeOldPhoto(event)">close </i>
                </div>
                <input type="hidden" name="removed_files">
            {% endif %}
            
        </div>
    </div>
</div>

