<div class="item">
    <h3>Nome</h3>
    <input type="text" name="name" placeholder="Nome completo" value="{{user.name}}">
</div>
<div class="item">
    <h3>Email</h3>
    <input type="text" name="email" placeholder="email@email.com" value="{{user.email}}">
</div>
<div class="item">
    <h3>Senha</h3>
    <input type="text" name="password" placeholder="Digite a senha">
</div>


