<div class="cards">
    {% for recipe in recipes %}

        <div class="card" onclick= "window.location.href = '/recipes/{{recipe.id}}'">
            <div class="image-container">
                {% if not recipe.src %}
                        <img src="http://placehold.it/500x500?text=PRODUTO SEM FOTO" alt="Receita sem foto">
                    {% else  %}
                        <img src="{{recipe.src}}" alt="{{recipe.title}}">
                    {% endif %}
            </div>
            <div class="recipe-name">
                <h4>{{recipe.title}}</h4>
            </div>
            <div class="author">
                <p>por {{recipe.chef_name}}</p>
            </div>

        </div>
    {% endfor %}
</div>