<form action="/search-results" method="get" id="searchField">
    <input type="text" name="filter" placeholder="Buscar uma receita" value="{{filter}}">
    <button type="submit">Buscar</button>
</form>