{% extends "layoutAdmin.njk" %}

{% block content %}
    <div class="recipe">
        <div class="subHeader">
            <h3>Criando receita</h3>
            <button type="submit" form="createRecipe">Salvar receita</button>
        </div>
    </div>
    <form action="/admin/recipes" id="createRecipe" method="post" enctype='multipart/form-data'>
        <div class="recipeFields">
            {% include './partials/fields.njk' %}
        </div>
    </form>
{% endblock content %}

{% block script %}
<script src="/createScript.js"></script>
{% endblock script %}