{% extends "layoutAdmin.njk" %}

{% block title %}
        <title>Gereciar receitas</title>
        {% endblock title %}

{% block content %}
    <main>
        <h2 id="manage-recipes">Gerenciar receitas</h2>
        <div class="cards admin">
            {% for recipe in recipes %}
            
            <div class="card admin-index">
                <div class="image-container admin">
                    {% if not recipe.src %}
                        <img src="http://placehold.it/500x500?text=RECEITA SEM FOTO" alt="Receita sem foto">
                    {% else  %}
                        <img src="{{recipe.src}}" alt="{{recipe.title}}">
                    {% endif %}
                    
                </div>
                <div class="index-details">
                    <div class="recipe-name">
                        <h4>{{recipe.title}}</h4>
                    </div>
                    <div class="author">
                        <p>por {{recipe.chef_name}}</p>
                    </div>
                    <div >
                        <a class="link-button" href="/admin/recipes/{{recipe.id}}">Visualizar</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </main>
{% endblock content %}



