{% if error %}
    <div class="message error">
        <span>Essa é uma mensagem de erro!</span>
    </div>
{% endif %}
{% if success %}
    <div class="message success">
        <span>Essa é uma mensagem de sucesso!</span>
    </div>
{% endif %}