{% if error %}
    <div class="message error">
        <span>{{error}}</span>
    </div>
{% endif %}
{% if success %}
    <div class="message success">
        <span>{{success}}</span>
    </div>
{% endif %}