{% if message %}
    {% if message.error.length > 0 %}
        <div class="message error">
            <span>{{message.error}}</span>
        </div>
    {% endif %}
    {% if message.success.length > 0 %}
        <div class="message success">
            <span>{{message.success}}</span>
        </div>
    {% endif %}
{% endif %}
