<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="description" content="Pagina de receitas">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">

        <link rel="stylesheet" href="/styles/main.css">
        <link rel="stylesheet" href="/styles/partials/adminHeader.css">
        <link rel="stylesheet" href="/styles/partials/messages.css">
        <link rel="stylesheet" href="/styles/partials/subHeaderAdmin.css">
        <link rel="stylesheet" href="/styles/partials/adminFields.css">
        {% block styles %}
        {% endblock styles %}

        
        {% block title %}
        <title>Foodfy</title>
        {% endblock title %}
        
    </head>
    <body>
        
        <header class="admin-header">
            <div class="container-header">
                <a href="/">
                    <img src="/assets/logoWhite.png" alt="Logo Foodfy">
                </a>
                <nav>
                    <a href="/admin/recipes">Receitas</a>
                    <a href="/admin/chefs">Chefs</a>
                    <a href="/admin/userAdmin">Usuários</a>
                </nav>
                <form action="/admin/user/logout" id="logout" method="post">
                    <button type="submit" form="logout">SAIR</button>
                </form>
            </div>
        </header>

        <div class="container">
            {% block content %}{% endblock content %}
        </div>
        
        {% include "./partials/messages.njk" %}
        
        <script src="/scripts.js"></script>
        {% block script %}{% endblock script %}
    </body>

</html>