header.admin-header {
    width: 100%;
    background: #111111;
    height: 5rem;
}
header.admin-header .container-header {
    top: 1.5rem;
    width: 75%;
    margin: 0 auto;
    min-height: 100%;
    max-width: 940px;
    display: flex;
    align-items: center;
}
header.admin-header .container-header nav {
    margin-left: 50px;
}
header.admin-header .container-header nav a {
    text-decoration: none;
    margin-left: 30px;
    color: #999999;
    padding: 0 15px 0 0;
}
header.admin-header .container-header nav a.active{
    color: #ffffff;
    font-weight: bold;
}
form#logout {
    position: absolute;
    right: 10%;
}
form#logout button {
    border: none;
    background: none;
    color: #999999;
    font-weight: bold;
    cursor: pointer;
}
form#logout button:hover {
    color: #ffffff;
    font-weight: bold;
}

@media  (max-width: 500px) {
    header.admin-header{
        height: initial;
    }

    header.admin-header .container-header{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;    
        padding: 1rem 0;

    }
    header.admin-header .container-header nav{
        margin-left: 0;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;   
    }
    header.admin-header .container-header nav a{
        padding: 0.5rem;
        margin: 0;
    }
    form#logout{
        top: 20px;
    }
}