.list .subHeader {
    margin-top: 3rem;
    margin-bottom: 72px;
}

.subHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 1.5rem 0;
    font-size: 24px;
}

.subHeader button{
    padding: 8px 20px;
    background-color: #6558c3;
    color: white;
    font-size: 16px;
    border-radius: 4px;
    border: none;
    font-weight: bold;
    cursor: pointer;
}
.buttonsEdit button:first-child {
    background-color: #dc4747;
}

@media  (max-width: 500px) {
    .buttonsEdit{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 5px;
    }
    .subHeader .buttons{
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

}


